@import "tailwindcss";

:root {
  --background: #1E1E1E;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1E;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #a855f7; 
  transition: color 0.2s ease;
}

html {
  scroll-behavior: smooth;
}
